.spacer {
  flex: 1 1;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-btn {
  padding: 8px;
  margin: 0;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 2px solid rgba(191, 161, 212, 0.6);
  backdrop-filter: blur(6px);
  border-radius: 6px;
  margin-right: 16px;

  cursor: pointer;

  outline: none;
  transition: background-color 0.3s;

  .menu-btn-icon {
    height: 16px;
    margin-right: 4px;

    transition: transform 0.3s;
  }

  &:hover .menu-btn-icon {
    transform: translateX(-3px);
  }

  &:active .menu-btn-icon {
    transform: translateX(-3px);
  }

  &:hover {
    background-color: rgba(191, 161, 212, 0.8);
  }

  &:active {
    background-color: rgba(191, 161, 212, 1);
  }
}

.title-holder {
  display: flex;
  align-items: center;
  p {
    margin-left: 8px;
  }

  .time {
    font-size: 0.8rem;
    margin-top: 14px;
  }
}

.tag {
  background-color: #efae60;
  padding: 4px;
  font-size: 0.8rem;
  border-radius: 4px;
  margin-right: 8px;
}
.tag-holder {
  margin-bottom: 16px;
}

.acceptBtn {
  z-index: 5;
}
