<div class="menu">
	<p class="menu-btn" (click)="goBack()">
		Back
	</p>
	<div class="spacer"></div>
	<p class="menu-btn" (click)="acceptMission(quest.MissionId)">
		Accept
	</p>
</div>
<hr />
<div class="loading" [class.loading--active]="!isLoading">Loading...</div>
<div *ngIf="quest">
	<app-map
		[lat]="quest.lat"
		[lng]="quest.lng"
		[userLat]="userLocation.lat"
		[userLng]="userLocation.lng"
	></app-map>
	<h3>{{ quest.ConciseLocation }}</h3>
	<p>Request Time: {{ quest.RequestUnixTime | date }}</p>
	<p>Beneficiaries id: {{ quest.BeneficiaryId }}</p>
	<p>Food: {{ quest.FoodName }}</p>
	<button (click)="acceptMission(quest.MissionId)" class="acceptBtn">
		Accept
	</button>
</div>
