.form-group {
  margin: 16px 0;
}

.form-input {
  width: 100%;
  height: 32px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid grey;
  outline: none;
}

.login-button {
  width: 100%;
  height: 32px;
}
