@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.popup-msg {
  min-width: 350px;
  min-height: 350px;

  width: 25vw;
  height: 25vw;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-radius: 16px;

  animation: fade-in 0.6s;
  animation-timing-function: ease-out;

  .popup-msg__icon {
    width: 100px;
    margin: 16px;
  }

  .popup-msg__msg {
    margin: 4px;
    text-align: center;
  }
}
