<div class="menu">
	<p
		class="menu-btn"
		routerLink="/quests"
		routerLinkActive="menu-btn--active"
	>
		Quest List
	</p>
	<p
		class="menu-btn"
		routerLink="/my-quest"
		routerLinkActive="menu-btn--active"
	>
		Current Quest
	</p>
	<div class="spacer"></div>
	<img
		class="menu-icon"
		routerLink="/settings"
		src="assets/common/gear.png"
		alt=""
	/>
</div>
<hr />
<div
	*ngFor="let quest of quests"
	routerLink="{{ '/quests/' + quest.MissionId }}"
>
	<h2>{{ quest.ConciseLocation }}</h2>
	<p>{{ quest.MissionType }}</p>
</div>
