@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.list-holder {
  text-align: center;

  animation: fade-in 0.6s;
  animation-timing-function: ease-out;

  .item-table {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    padding: 8px;
    border-radius: 16px;

    tr {
      height: 32px;
    }

    td {
      padding: 8px;

      input {
        height: 24px;
        width: 64px;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 2px solid grey;

        @media (max-width: 720px) {
          width: 40px;
        }
      }

      .name-input {
        width: 250px;

        @media (max-width: 720px) {
          font-size: 0.8rem;
          width: 60px;
        }
      }
    }

    .icon-btn {
      height: 16px;
      opacity: 0.6;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 16px;
      padding: 4px;

      transition: opacity 0.3s;

      &:hover,
      &:active {
        opacity: 1;
      }
    }

    .name-holder {
      text-align: left;
    }
  }
}
