<div class="menu">
	<p class="menu-btn" (click)="goBack()">
		Back
	</p>
</div>
<hr />
<div class="loading" [class.loading--active]="!isLoading">Loading...</div>
<div class="popup-holder" *ngIf="isPopupHolder">
	<app-popup-message
		*ngIf="isPopup"
		[messageType]="messageType"
		(done)="hidePopupHolder()"
	></app-popup-message>
	<app-popup-list
		[hidden]="isListHidden"
		[isLogItem]="isLogItem"
		(completed)="goToFinal($event)"
	></app-popup-list>
</div>
<div *ngIf="quest">
	<app-map
		[lat]="quest.lat"
		[lng]="quest.lng"
		[userLat]="userLocation.lat"
		[userLng]="userLocation.lng"
	></app-map>
	<h3>{{ quest.ConciseLocation }}</h3>
	<p>Request Time: {{ quest.RequestUnixTime | date }}</p>
	<p>Beneficiaries id: {{ quest.BeneficiaryId }}</p>
	<p>Food: {{ quest.FoodName }}</p>
	<button
		[hidden]="isCompleteButtonHidden"
		[disabled]="quest.IsCompleted"
		(click)="completeMission(quest.MissionId)"
		class="acceptBtn"
	>
		Complete Mission
	</button>
	<button
		class="acceptBtn"
		(click)="goToTransaction()"
		[hidden]="isLocationReachButtonHidden"
	>
		I'm here!
	</button>
	<button
		class="acceptBtn"
		(click)="startTransaction()"
		[hidden]="isActionButtonHidden || !isLogItem"
	>
		Add Items
	</button>
	<button class="acceptBtn" [hidden]="isActionButtonHidden || isLogItem">
		Item List
	</button>
</div>
