.spacer {
  flex: 1 1;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-btn {
  padding: 8px;
  margin: 0;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 2px solid rgba(191, 161, 212, 0.6);
  backdrop-filter: blur(6px);
  border-radius: 6px;
  margin-right: 16px;

  display: flex;
  align-items: center;

  cursor: pointer;

  outline: none;
  transition: border-color 0.3s;

  .menu-btn-icon {
    height: 16px;
    margin-right: 4px;

    transition: transform 0.3s;
  }

  &:hover .menu-btn-icon {
    transform: translateX(-3px);
  }

  &:active .menu-btn-icon {
    transform: translateX(-3px);
  }

  &:hover {
    border-color: rgba(191, 161, 212, 1);
  }

  &:active {
    border-color: rgba(191, 161, 212, 1);
  }
}

.title-holder {
  display: flex;
  align-items: center;
  padding: 16px 0;

  .place-holder {
    .concise-location {
      margin: 0;
      padding: 0;
    }

    .address {
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin-left: 8px;
  }

  .time {
    font-size: 0.8rem;
    margin-top: 14px;
  }
}

.address {
  font-size: 0.8rem;
  margin: 0;
}

.tag {
  background-color: #efae60;
  padding: 4px;
  font-size: 0.8rem;
  border-radius: 4px;
  margin-right: 8px;
}
.tag-holder {
  margin-bottom: 16px;
}

.acceptBtn {
  z-index: 5;
}

.popup-holder {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;

  z-index: 20;

  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
}
