<div class="menu">
	<p class="menu-btn" (click)="goBack()">
		Back
	</p>
</div>
<hr />
<div class="loading" [class.loading--active]="!isLoading">Loading...</div>
<div class="popup-holder">
	<app-popup-message
		[hidden]="isPopupHidden"
		[messageType]="messageType"
	></app-popup-message>
	<app-popup-list></app-popup-list>
</div>
<div *ngIf="quest">
	<app-map
		[lat]="quest.lat"
		[lng]="quest.lng"
		[userLat]="userLocation.lat"
		[userLng]="userLocation.lng"
	></app-map>
	<h3>{{ quest.ConciseLocation }}</h3>
	<p>Request Time: {{ quest.RequestUnixTime | date }}</p>
	<p>Beneficiaries id: {{ quest.BeneficiaryId }}</p>
	<p>Food: {{ quest.FoodName }}</p>
	<button
		[hidden]="quest.VolunteerId !== userId"
		[disabled]="quest.IsCompleted"
		(click)="completeMission(quest.MissionId)"
		class="acceptBtn"
	>
		Complete Mission
	</button>
	<button class="acceptBtn">
		I'm here!
	</button>
	<button class="acceptBtn">
		Add Items
	</button>
	<button class="acceptBtn">
		Item List
	</button>
	<button class="acceptBtn">
		Complete Mission
	</button>
</div>
