<div class="menu">
	<p class="menu-btn" (click)="goBack()">
		Back
	</p>
</div>
<hr />
<div class="loading" [class.loading--active]="!isLoading">Loading...</div>
<div class="popup-holder" *ngIf="isPopupHolder">
	<app-popup-message
		*ngIf="isPopup"
		[messageType]="messageType"
		(done)="hidePopupHolder()"
	></app-popup-message>
	<app-popup-list
		[hidden]="isListHidden"
		[isLogItem]="isLogItem"
		(completed)="goToFinal()"
	></app-popup-list>
</div>
<div *ngIf="quest">
	<app-map
		[lat]="quest.lat"
		[lng]="quest.lng"
		[userLat]="userLocation.lat"
		[userLng]="userLocation.lng"
	></app-map>
	<div class="title-holder">
		<h2>{{ quest.ConciseLocation }}</h2>
		<p>|</p>
		<p class="time">{{ quest.RequestUnixTime | date }}</p>
	</div>
	<div class="tag-holder">
		<span class="tag" *ngFor="let tag of tagList">{{ tag }}</span>
	</div>
	<button
		[hidden]="isCompleteButtonHidden"
		[disabled]="quest.IsCompleted"
		(click)="completeMission(quest.MissionId)"
		class="acceptBtn btn-style"
	>
		Complete Mission
	</button>
	<button
		class="acceptBtn btn-style"
		(click)="goToTransaction()"
		[hidden]="isLocationReachButtonHidden"
	>
		I'm here!
	</button>
	<button
		class="acceptBtn btn-style"
		(click)="startTransaction()"
		[hidden]="isActionButtonHidden || !isLogItem"
	>
		Add Items
	</button>
	<button
		class="acceptBtn btn-style"
		(click)="startTransaction()"
		[hidden]="isActionButtonHidden || isLogItem"
	>
		Item List
	</button>
</div>
